/target
**/target
**/*.rs.bk
Cargo.lock
/rootfs
/riscv_rootfs
/prebuilt/linux/alpine*
/prebuilt/linux/riscv64/prebuild*
zCore/src/platform/riscv/boot/kernel-vars.ld
zCore/bug.txt
zCore/fw_jump.bin
zCore/zcore_d1.bin
zCore/xfel
zCore/fw_payload.elf
*.img
*.log
.idea
.DS_Store
.vscode/
__pycache__
